%div.title.text-center
  %h1 Behind the Scenes: Drop Kick to the Face

%div.about-header.text-center
  %h2 The Website

%div.about-container
  %p
    Drop Kick to the Face started with the realization that Dillon and Josh
    are so irrevocably awesome and hardcore that the world could not be spared
    their message.  The website delves into the obscure, the absurd, and sometimes
    insane minds of the creators.  The comics are there to make you laugh, the
    blog is there to make you think.

%div.about-header.text-center
  %h2#DillonHicks Dillon

%div.about-container
  %ul
    %li
      %strong Name:
      Dillon
    %li
      %strong Alias:
      Vengeful Dr. X
    %li
      %strong Level:
      Whatever
    %li
      %strong Class:
      Whatever
    %li
      %strong Skills:
      %ul
        %li Web Wizardry: Gain a +10 bonus to all stats when on the web.
        %li Alcohol Enthusiasm: You don't have an alcohol problem, alcohol has a you problem. Gain the pwning under the influence ability.
        %li Overt aggression: +10 to intimidate, +10 to bluff, you gain the get out my house ability.
        %li Friend of Tim: If you don't know Tim you don't get any bonuses if you take this skill.
        %li The Straight: You get no inherent bonuses but hey, at least you have full human rights.
        %li Radical Liberalism: +100 to perception of reality. You gain the drop kick to the face ability.
        %li Scientific Rationalism: You can think critically about the world and make rational decisions, +1000 to perception of reality.
        %li l33t 5k177z: Others bow before you in awe of you mastery of technology.
    %li
      %strong Abilities:
      %ul
        %li Get Out My House: People better get the hell out your house or they suffer a -3 to hit and immediately take an attack of 4d12.
        %li Drop kick to the face: You can use this ability as an interrupt triggered by stupidity. Immediately drop kick the hell out of an idiot's face. They are knocked out and you don't have to listen to their stupidity ever again. Conservatives immediately flee.
        %li Pwning Under the Influence:+3 Damage per beer consumed. After you consume a six pack all your attacks crit and you gain one kill streak.
    %li
      %strong Bio:
      LOREM IPSUM
%div.about-header.text-center
  %h2#JoshEdwards Josh
%div.about-container
  %ul
    %li
      %strong Name:
      Josh
    %li
      %strong Alias:
      Panda Dragoon
    %li
      %strong Level:
      Unfathomnably High
    %li
      %strong Class:
      Warlock Assassin
    %li
      %strong Skills:
      %ul
        %li Web Wizardry: Gain a +10 bonus to all stats when on the web.
        %li Alcohol Enthusiasm: You don't have an alcohol problem, alcohol has a you problem. Gain the pwning under the influence ability.
        %li Passive aggression: +5 to intimidate, -2 to bluff, the people around you are impotent in the face of your anger.
        %li Friend of Tim: If you don't know Tim you don't get any bonuses if you take this skill.
        %li +10 bonus to stats that involve the arts. +5 to styling. +3 while wearing glitter, rainbows, or pink.
        %li Radical Liberalism: +100 to perception of reality. You gain the drop kick to the face ability.
        %li Scientific Rationalism: You can think critically about the world and make rational decisions, +1000 to perception of reality.
        %li l33t 5k177z: Others bow before you in awe of you mastery of technology.
    %li
      %strong Abilities:
      %ul
        %li Drag-on Queen: You morph into a creature of legend of the opposite gender. People are confused so you get to use drop kick to the face with +5 damage from your fab stilettos.
        %li Drop kick to the face: You can use this ability as an interrupt triggered by stupidity. Immediately drop kick the hell out of an idiot's face. They are knocked out and you don't have to listen to their stupidity ever again. Conservatives immediately flee.
        %li Pwning Under the Influence:+3 Damage per beer consumed. After you consume a six pack all your attacks crit and you gain one kill streak.
        %li Panda Punch: Others fear your extinction based on your extreme laziness. Punch mother nature in the face and deny her lust for survival of the fittest. Everyone is proved wrong and you prosper
    %li
      %strong Bio:
      LOREM IPSUM
