@import "variables.scss";

.about-header {
  background-color: $red;
  border: 5px solid black;
  margin-top: 10px;
  margin-right: 30px;
  color: white;
  border-radius: $radius-round;
}

.about-container {
  background-color: white;
  border: 5px solid black;
  margin-top: 10px;
  margin-right: 30px;
  color: black;
  padding: 20px;
}
